# macOS
.DS_Store
dev/.DS_Store

# Eclipse workspace
dev/eclipse-workspace/.metadata/
dev/**/*.markers
dev/**/*.dat
dev/**/*.log
dev/**/*.tree
dev/**/*.index
dev/**/*.safetable
dev/**/.DS_Store
**/bin/


# Eclipse / STS
**/.metadata/**
**/.settings/**
**/.classpath
**/.project

# Build outputs
**/build/**
**/target/**

# IDE etc.
*.iml
.idea/

# (강추) JDK 통째로 커밋 금지
lect_labs/labs_java/jdk-17.0.16+8/**


# upload 폴더
/upload/
